<!--The content below is only a placeholder and can be replaced.-->

<div class="inputs">
  <label>Number of Rows</label>
  <input type=text [(ngModel)]="num_rows" (ngModelChange)="updateDim()">
  <label>Number of Columns</label>
  <input type=text [(ngModel)]="num_cols" (ngModelChange)="updateDim()">

  <label>Color</label>
  <div class="colors">
    <div class="color"
         (click)="onColorClick(c)"
         *ngFor="let c of colors" [style.background-color]="getCssForColor(c)">{{c.label}}
    </div>
  </div>

  <label>Selected Color</label>
  <div class="color" [style.background-color]="getCssForColor(selectedColor)">{{selectedColor?.label}}</div>

  <label>Tile type</label>
  <div class="tiles">
    <div class="tile"
         (click)="onTileClick(t)"
         *ngFor="let t of tiles">{{t}}
    </div>
  </div>

  <label>Selected Tile</label>

  <div class="tile"
  >{{selectedTile}}
  </div>

</div>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" [attr.width]="GRID_SIZE * num_cols"
     [attr.height]="GRID_SIZE * num_rows"
     (click)="handleGridClick($event, false)"
     (contextmenu)="handleGridClick($event, true)"

>
  <defs>


    <pattern id="grid" [attr.width]="GRID_SIZE" [attr.height]="GRID_SIZE" patternUnits="userSpaceOnUse">

      <path attr.d="M 0 0 L 0 {{GRID_SIZE}} L {{GRID_SIZE}} {{GRID_SIZE}} L {{GRID_SIZE}} 0 L 0 0" fill="none"
            stroke="rgb(200,200,200)" stroke-width="1"/>
    </pattern>
  </defs>
  <rect fill="rgb(30,30,30" x="0" y="0" width="100%" height="100%"/>

  <ng-container *ngFor="let cell of universeData?.cells">
    <text *ngIf="cell"  [attr.x]="cell.col_index * GRID_SIZE + 15" [attr.y]="cell.row_index * GRID_SIZE + 25"
(click)="handleClickSvgText()"
      [attr.fill]="getCellColor(cell)"
          class="grid_text">{{cell.tile.type[0]}}</text>
  </ng-container>

  <rect fill="url(#grid)" x="0" y="0" width="100%" height="100%"/>


</svg>

<router-outlet></router-outlet>
